// Colors
$blue: #4a90e2;
$lavender: #b3a5f5;
$mint: #b0eacb;
$white: #ffffff;
$grey-light: #f0f2f5;
$border: #ddd;
$danger: #f7635d;
$primary: #4e4e4e;
$darkblue: #1f3270;

// Text colors
$text-primary: #333333;
$text-secondary: #595959;

// Spacing & Radius
$sp-1: 4px;
$sp-2: 8px;
$sp-3: 16px;
$sp-4: 22px;
$radius: 8px;
